# Single Table Quiz (Quiz 4, 2024)

This quiz is alloted 30 minutes, but may not take this long. 
You may use this Jupyter notebook to test and submit your queries.

You can find the DDL for the sample Practice database in the __practice.sql__ file.
There is only 1 table, called "teachers"

**Step 1:** RUN THIS CELL FIRST to enable SQL in Python (just run this cell)

In [5]:
# MUST RUN: Start Jupyter notebook SQL library
%reload_ext sql 
#%sql postgres:///practicalsql.db %sql postgresql://postgres:password123@localhost/dvdrental
%sql postgresql://postgres@localhost:5432/practice

**Q1.** Show all the rows and columns in the `teachers` table, in alphabetical order by teacher's last name.

In [ ]:
%sql

**Q2.** Show the teachers who make less than $50,000, in descreasing salary order. Output their names and their salary.

In [ ]:
%sql

**Q3.** Show all the teachers who make more than $40,000 and do not work at F.D. Roosevelt HS. Output their names, salary, and school.

In [ ]:
%sql

**Q4.** Count how many teachers there are at _each_ school. Output the name of the school, and the number of teachers at that school.

In [ ]:
%sql

**Q5.** Assuming all the teachers are still working, which teacher at F.D. Roosevelt HS has worked the longest? Output last name and hire date.

In [ ]:
%sql

## SUBMISSION:

- **Complete Academic Honesty Affirmation:** 

I, _replace with your name_, affirm that I have completed this quiz fairly with no outside sources.

- Save your work. 
- Download this file. _(Right click in the Explorer menu, select Download)_
- Upload to Moodle Quiz 4 assignment