# Single Table Quiz (Quiz 4, 2024)

This quiz is alloted 30 minutes, but may not take this long. 
You may use this Jupyter notebook to test and submit your queries.

You can find the DDL for the sample Practice database in the __practice.sql__ file.
There is only 1 table, called "teachers"

**Step 1:** RUN THIS CELL FIRST to enable SQL in Python (just run this cell)

In [1]:
# MUST RUN: Start Jupyter notebook SQL library
%reload_ext sql 
%sql postgresql://postgres@localhost:5432/practice

**Q1.** Show all the rows and columns in the `teachers` table, in alphabetical order by teacher's last name.

In [9]:
%sql
SELECT * FROM teachers 
ORDER BY last_name;

SyntaxError: invalid syntax (2589974980.py, line 2)

**Q2.** Show the teachers who make less than $50,000, in decreasing salary order. Output their names and their salary.

In [12]:
%sql
SELECT first_name, last_name, salary
FROM teachers
WHERE salary < 50,000;

SyntaxError: invalid syntax (2448415060.py, line 3)

**Q3.** Show all the teachers who make more than $40,000 and do not work at F.D. Roosevelt HS. Output their names, salary, and school.

In [13]:
%sql
SELECT first_name, last_name 
FROM teachers
WHERE salary > 40,000
AND School != "F.D. Roosevelt HS";

SyntaxError: invalid syntax (498322182.py, line 2)

**Q4.** Count how many teachers there are at _each_ school. Output the name of the school, and the number of teachers at that school.

In [16]:
%sql
SELECT school, COUNT(*) AS num_teachers
FROM teachers
GROUP BY school;

SyntaxError: invalid syntax (892775703.py, line 2)

**Q5.** Assuming all the teachers are still working, which teacher at F.D. Roosevelt HS has worked the longest? Output last name and hire date.

In [17]:
%sql 
SELECT last_name, hire_date 
FROM teachers 
WHERE school = 'F.D. Roosevelt HS'
ORDER BY hire_date ASC 
LIMIT 1;

SyntaxError: invalid syntax (984298485.py, line 2)

## SUBMISSION:

- **Complete Academic Honesty Affirmation:** 

I, _replace with your name_, affirm that I have completed this quiz fairly with no outside sources.

- Save your work. 
- Download this file. _(Right click in the Explorer menu, select Download)_
- Upload to Moodle Quiz 4 assignment